body {
    font-size: 12px;
}

.cb-toolbar {
    display: inline-block;
    position: relative;
    top: 2px;
    float: left;
    margin-right: 6px;
    font-size: 12px;
}

.width-20p {
    width: 20%;
}

.margin-t-5 {
    margin-top: 5px;
}

.margin-b-5 {
    margin-bottom: 5px;
}

.margin-l-5 {
    margin-left: 5px;
}

.margin-r-5 {
    margin-right: 5px;
}

.padding-r-5 {
    padding-right: 5px;
}

.padding-t-15 {
    padding-top: 15px;
}

.info-box-text {
    font-size: 12px !important;
}

.menu-item-top {
    font-size: 14px;
}